<ion-header-bar align-title="center" class="bar-stable">
  <button class="button icon-left fa fa-chevron-left" ng-click="specialist.back()">Back</button>
  <h1 class="title">{{specialist.title}}</h1>
</ion-header-bar>

<ion-content>


  <div class="list card" ng-repeat="person in specialist.persons track by $index">

    <a class="item" ng-click="specialist.goToPerson(person)">
      <h2><strong>Name: </strong>{{person.name}}</h2>
      <p><strong>Number: </strong>{{person.number}}</p>
      <div class="item item-body">
        <p>
          <strong>Area: </strong>{{person.area}}
        </p>
         <p>
           <strong>Expertise:</strong> {{specialist.prettyList(person.expertise, 50)}}
         </p>
      </div>
    </a>

  </div>

</ion-content>
